@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;  /* สีพื้นหลังแบบ dark */
  --foreground: #ededed;  /* สีตัวหนังสือแบบ light */
}

/* ไม่ต้องใช้ media query แล้ว เพราะเรา fix ให้เป็น dark mode ตลอด */
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}